@page
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@model PasswordRecoveryModel
@inject IViewLocalizer Localizer

@{
    Layout = "~/Pages/_Layout_PasswordRecovery.cshtml";
}
@{
    ViewData["Title"] = @Loc["Password recovery"];
}

<div class="container parentbody-content">
    <div class="container body-content">
        <form class="box login" method="POST">
            <header>
                <img src="~/images/vg_logo.png">
            </header>
            <fieldset class="boxBody">
                <label>@Loc["Please, contact your purchase agent in Vaillant Group, which will create new pasword for you."]</label>
            </fieldset>
            <footer>
                <input type="submit" name="btnlogin" class="btnLogin" asp-page-handler="OK" value=@Loc["OK"] tabindex="4">
            </footer>
        </form>
    </div>
</div>